$fonttext: 'Montserrat', sans-serif;;
$fontmain: 'Raleway', sans-serif;
body{
    font-family: $fonttext;
    font-size: 30px;
    margin: 0;
    padding: 0;
    .menu-wrap{
        
        ul{
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 0;
            align-items: center;
            
        li{
            position: relative;
            left: -30px;
            width: 20%;
            list-style-type: none;
            padding-bottom: 15px;
            text-align: center;
            a{
                text-decoration: none;
                letter-spacing: 5px;
                color: #ffd6dd;
                font-size: 27px;
                font-weight: 400;
            }
        }
        }
    }
    nav{
            font-family: $fontmain;
            text-align: center;
            color: #fff;
            background-color: #ffd6dd;
            font-size: 27px;
            letter-spacing: 5px;
            font-weight: 400;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    .wraper{
        width: 80%;
        margin: 0 auto;    
        header{
            display: flex;
            .headerh1{
                padding-left: 100px;
            }
            h1{
                padding-top: 150px;
                background: linear-gradient(to bottom left, #e2a9d1,#cf77a2, #871eaf);
                font-size: 2em;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                display: inline-block;
                font-weight: lighter;
                text-shadow: 2px 2px 3px rgba(134, 91, 91, 0.2);
            }
            .gradient-all {
                font-size: 2em;
                background: linear-gradient(135deg, #12BCB0 20%, #FABE0E 70%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                display: inline-block;
                padding: 0.3em 0.6em ;
                border: 3px solid transparent;
                border-image: linear-gradient(135deg, #12BCB0 20%, #FABE0E 70%);
                border-image-slice: 1;
              }
            
            .head{
                text-align: center;
            
            }
        }    
    }
  
        #yslygi{
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, #ffd6dd 50%,  #fff 50%);
            padding-bottom: 60px;
 
            h1{
                text-align: center;
            }
            .yslygi1{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                width: 80%;
                margin: 0 auto;    
                display: flex;
                justify-content: center;
       
                .im{
                    width: 27%;
                    height: 500px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    height: 220px; /* Высота области */
                    margin: 0 auto; /* Обнуляем отступы */
                }
                img{
                    width: 100%; /* Ширина изображений */
                    height: 100%; /* Высота изображении */
                    object-fit: cover; /* Вписываем фотографию в область */
                }
                .nadpis{
                    border: 0px solid ;
                    background-color: rgba(248, 248, 248, 0.7,5); 
                    width: 30%;
                    text-align: center;
                    font-size: 15px;
                    font-weight: 400;
                    padding: 5px;
                    position: absolute;
                    bottom: -10px;

                }
            }
        } 
      #onas{
          
          background-image:url(..//image/h.jpg) ;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: top center ;
          min-height: 100vh;
          color: #fff;
          background-attachment: fixed;
    
            
       
            h1{
                margin: 0;
                text-align: center;
                padding-top: 15px;
            }
            .wraper{
            display: flex;
            justify-content: space-around;

            }
            table {
             
           
            //     border-collapse: collapse;
            //   }
            //   tr:not(:last-child){
            //     border-bottom:1px solid #ffd6dd;
            //   }
            //   td:not(:last-child):not(:first-child),
            //   th:not(:last-child):not(:first-child){  
            //     border-left:1px solid #ffd6dd;
            //     border-right:1px solid #ffd6dd;
              }
              .s{
            
            }
            #slider {position: relative; overflow: hidden; width: 600px; height: 320px; margin: 20px auto; padding: 0; list-style: none;}
            .slide {position: absolute; width: 100%; height: 100%; transition: all 1s ease-in 0.1s; left:0;}
            .slide img {width: 100%;}
            .arrows {position: relative; margin: 0 auto; width: 600px;}
            .arrow {position: absolute; cursor: pointer;}
            .no_active {color: red;}
            .next {right: 0;}
             


      }  
      
    }

